body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(187, 186, 185);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
main{
    width: 400px;
    height: 450px;
    background-color: rgb(251, 250, 249);
    margin: auto;
    border-radius: 6%;
    padding: 3%;
    display: block;
    box-shadow: 5px 5px 5px 8px #3d3c3cbb;
    
}
#header img{
    width: 70px;
    height: 70px;
  
}
h1{
    float: none;
    font-size: 20px;
    justify-content: left;
    text-align: left;  
    width: auto; 
}
#tira1{
    height: 5px;
    width: 200px;
    float: left;
    background-color: #006D44;
}
#tira2{
    height: 5px;
    width: 200px;
    float: right;
    background-color: rgb(151, 150, 149);
}
#tira3{
    height: 5px;
    width: 200px;
    float: left;
    background-color:  #006D44;
}
#button1{
    background-color: #006D44;
    color: #fdf8f8;
    float: right;
    height: 30px;
    width: 110px;
    display: flex;
    border-radius: 10%;
    padding: 10px 25px;
    justify-content: center;
    align-items: center;
    
}
#button2{
    background-color: #006D44;
    color: #fdf8f8;
    float: left;
    height: 30px;
    width: 110px;
    display: flex;
    border-radius: 10%;
    padding: 10px 25px;
    justify-content: center;
    align-items: center;
    
}